.App {
  text-align: center;
}

.body{
  margin-top: 3em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.topNav{
  width: 100%;
  height: 3em;
}
.sideNav{
  flex:30%;
}

.mainContent{
  flex: 70%;
}